
@model RoomBookingSystem.Models.SingleBookingModel

@{
    ViewBag.Title = "EditBookingConcrete";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
}



    <div class="container col-md-4 mb-3 ">
        <div class="container-fluid">
            <div class="form-group">
                <form method="post">

                    @{
                        <p>Start Date:</p>
                        <input id="StartDate" class="form-control mb-2" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-ddThh:mm")" type="datetime-local">

                        <p>End Date:</p>
                        <input id="EndDate" class="form-control mb-2" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-ddThh:mm")" type="datetime-local">
                    }

                    @{
                        <p>Priority:</p>
                        <input id="Priority" class="form-control mb-2" name="Priority" value="@Model.Priority" type="text">
                    }

                    <input type="submit" class="btn btn-primary col-md-12 mb-12" value="Edit">
                </form>
            </div>
        </div>
    </div>


