@{
    ViewBag.Title = "Home Page";
}

<section class="site-blocks-cover overflow-hidden bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 align-self-center text-center text-md-left">
                <div class="intro-text">
                    <h1>Room Booking System</h1>
                    <p class="mb-4">Best way to book meeting rooms and flats.</p>
                </div>
            </div>
            <div class="col-md-5 align-self-center text-center text-md-right">
                <img src="~/Content/logos.png" alt="Image" class="img-fluid cover-img">
            </div>
        </div>
    </div>
</section> 