
@{
    ViewBag.Title = "WaitForAdminRequest";
}


<section class="site-blocks-cover overflow-hidden bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 align-self-center text-center text-md-left">
                <div class="intro-text">
                    <h1>Please, wait for Admin Approve</h1>
                    <a href="~/Home/Index" class="mb-4">Вернуться на главную</a>
                </div>
            </div>
            <div class="col-md-5 align-self-center text-center text-md-right">

            </div>
        </div>
    </div>
</section>

